.gitignore~

**/*.pyc
**/*.py~
**/*.vhd~

MATLAB_19July2/

VC709_systems/VC709_transceiver_k239_n255_t2/
VC709_systems/compressor_new/
VC709_systems/generated_projects/*
VC709_systems/loopback_files/*
VC709_systems/tb_for_new_compressors/*
VC709_systems/word_expander_tests/

python_scripts/compressor_v2_test.vhd
python_scripts/new_compressors/

python_scripts/project_generation/__pycache__/
python_scripts/project_generation/generated projects/*
python_scripts/project_generation/generated projects/



